# Скопируйте в .env и заполните своими значениями.
# Файл .env не попадает в git (см. .gitignore).
CLICKHOUSE_USER=admin
CLICKHOUSE_PASSWORD=admin
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=9000
CLICKHOUSE_DB=dm
